@import "../lib/mortar/development/less/mixins";

.m-tabs {
	margin-bottom: 20px;

	.m-tab-menu {
		margin: 0;
		margin-bottom: -1px;
		margin-left: 10px;
		padding: 0;
		list-style: none;

		li {
			margin: 0;
			display: inline-block;
			margin-left: -5px;
			padding: 10px 30px;
			cursor: pointer;
			border: 1px solid #ccc;
			background-color: #eee;	
			.border-radius(5px, 0, 0, 5px);		

			transition: all 0.50s;
			-webkit-transition: all .50s;
			-moz-transition: all 0.50s;

			&:first-child {
				margin-left: 0;
			}

			&:hover {
				background-color: #f9f9f9;
			}

			&.active {
				border-bottom: 1px solid white;
				background-color: white;
			}

			&:hover.active {
				background-color: white;
			}
		}
	}

	.m-tab-group {
		display: block;
		border: 1px solid #ccc;
		padding: 15px 30px;
		.rounded(5px);
	}

	.m-tab-content {
		display: none;	
	}
}
