.m-tabs {
  margin-bottom: 20px;
}

.m-tabs .m-tab-menu {
  padding: 0;
  margin: 0;
  margin-bottom: -1px;
  margin-left: 10px;
  list-style: none;
}

.m-tabs .m-tab-menu li {
  display: inline-block;
  padding: 10px 30px;
  margin: 0;
  margin-left: -5px;
  cursor: pointer;
  background-color: #eee;
  border: 1px solid #ccc;
  -webkit-border-top-right-radius: 5px;
          border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
          border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  -webkit-transition: all .50s;
     -moz-transition: all 0.50s;
          transition: all 0.50s;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

.m-tabs .m-tab-menu li:first-child {
  margin-left: 0;
}

.m-tabs .m-tab-menu li:hover {
  background-color: #f9f9f9;
}

.m-tabs .m-tab-menu li.active {
  background-color: white;
  border-bottom: 1px solid white;
}

.m-tabs .m-tab-menu li:hover.active {
  background-color: white;
}

.m-tabs .m-tab-group {
  display: block;
  padding: 15px 30px;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.m-tabs .m-tab-content {
  display: none;
}